<a href="https://colab.research.google.com/github/joydebmahata/COLLAGE_ASGN/blob/main/class_ass03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>




**NAME:JOYDEB MAHATA**

**ROLL NO. 22BT8048**

Q **01.
Write down a Python program with a class to calculate the area of a
circle.**

In [ ]:
class nec():
    def __init__(self,r):
        self.r=r
    def detail(self):
        return 3.14*(self.r)**2

a=nec(5)
print(a.detail())

78.5

Q **02.Write down a Python program with a class that takes a list of
numbers, calculates the average, and assigns a grade based on the
average.**

In [ ]:
class lis():
    def __init__ (self,a):
        self.a=a
    def le(self):
        return len(self.a)
    def sm(self):
        return sum(self.a)

    def avg(self):
        self.m = self.sm()/self.le()
        return self.m
    def gra(self):
        if (self.m>80):
            return "A "
        elif(self.m>70):
            return "B"
        elif(self.m>60):
            return "C"
        elif(self.m>50):
            return "D"
        else :
            return "FALL"


b=[98,89,0,78,72]
m=lis(b)
print("sum of all num is",m.sm())
print("avg of mark is",m.avg())
print("your grade is",m.gra())

sum of all num is 267
avg of mark is 53.4
your grade is D

Q **03**. **Write down a Python program with a class for a basic calculator**.

In [ ]:
class name():
    def __init__(self,a,b):
        self.a=a
        self.b=b
    def add(self):
        return self.a+self.b
    def sub(self):
        return self.a-self.b
    def mul(self):
        return self.a*self.b
    def div(self):
        return self.a/self.b


k=name(5,3)
print(k.add())
print(k.sub())
print(k.mul())
print(k.div())

8
2
15
1.6666666666666667

Q **04.Write down a Python program with a class that takes a list of
numbers, sorts them and provides the sorted result. (without using the
sorted() function)**

In [ ]:
class sor():
    def __init__(self,x):
        self.x=x
    def sh(self):
        n=len(self.x)
        i=0
        for m in range(n):
            while(i<n):
                if self.x[m]>self.x[i]:
                    self.x[m],self.x[i]=self.x[i],self.x[m]
                i+=1
            i=m+1
        return self.x

b=[8,5,6,2,4,7,3]
c=sor(b)
print("sorted of list is",c.sh())

sorted of list is [2, 3, 4, 5, 6, 7, 8]

Q **5. Write down a Python program with a class that swaps two numbers
without using a third variable. (by using arithmetic operations)t**

In [ ]:
class aw():
    def __init__(self,a,b):
        self.a=a
        self.b=b
    def aws(self) :
        self.a,self.b=self.b,self.a
        return (self.a,self.b)


z=aw(5,8)
print(z.aws())

(8, 5)