<a href="https://colab.research.google.com/github/joydebmahata/COLLAGE_ASGN/blob/main/class_ass01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# NAME: JOYDEB MAHATA
#  ROLL NO. :22BT8048

In [ ]:
i=0
b=int(input("enter how many students data want to input :  "))
a=[]
while i<b:
    ba=[]
    ba.append(str(input(f"enter {1+i} th student 1st name : ")))
    ba.append(str(input(f"enter {1+i} th student last name : ")))
    ba.append(str(input(f"enter {i+1} th student roll no.  : ")))
    ba.append(float(input(f"enter {i+1} th student cgpa : ")))
    ba.append(str(input(f"enter {i+1} th student adderess : ")))
    ba.append(int(input(f"enter {i+1} th student contect no. : ")))
    a.append(ba)
    i+=1
sm=0
for k in range(b-1):
  for x in range(b-1):
    if a[x][2]>a[x+1][2] :
      a[x],a[x+1]=a[x+1],a[x]
for m in range(b) :
  sm=sm+a[m][3]
mean=sm/b
std=0
cgpa=[]
for y in range(b):
    print("name = ",a[y][0],a[y][1]," ,roll no = ",a[y][2]," ,cgpa = ",a[y][3]," ,adderess = ",a[y][4]," ,contect no. = ",a[y][5])
    std=std+(a[y][3]-mean)**2
    cgpa.append(a[y][3])
std=(std/b)**0.5
cgpa.sort()
print(cgpa.reverse())
print(cgpa)
print(f"cgpa mean of all student is {mean} and std deviation is {std}")

enter how many students data want to input :  4
enter 1 th student 1st name : JOYDEB
enter 1 th student last name : MAHATA
enter 1 th student roll no.  : 22BT8048
enter 1 th student cgpa : 7.59
enter 1 th student adderess : UHVUHUAH
enter 1 th student contect no. : 25484887
enter 2 th student 1st name : HVUH
enter 2 th student last name : UKRHUH
enter 2 th student roll no.  : 22ME8145
enter 2 th student cgpa : 8.25
enter 2 th student adderess : IEUWHUI
enter 2 th student contect no. : 878525
enter 3 th student 1st name : HEUHEFJ
enter 3 th student last name : WEUH
enter 3 th student roll no.  : 22CS8165
enter 3 th student cgpa : 8.56
enter 3 th student adderess : UHRFUIHUK
enter 3 th student contect no. : 38788
enter 4 th student 1st name : UHRFUH
enter 4 th student last name : HRFJ
enter 4 th student roll no.  : 22CH8046
enter 4 th student cgpa : 7.98
enter 4 th student adderess : EWUFHUH
enter 4 th student contect no. : 5878748
name =  JOYDEB MAHATA  ,roll no =  22BT8048  ,cgpa =  7.59  ,adderess =  UHVUHUAH  ,contect no. =  25484887
name =  UHRFUH HRFJ  ,roll no =  22CH8046  ,cgpa =  7.98  ,adderess =  EWUFHUH  ,contect no. =  5878748
name =  HEUHEFJ WEUH  ,roll no =  22CS8165  ,cgpa =  8.56  ,adderess =  UHRFUIHUK  ,contect no. =  38788
name =  HVUH UKRHUH  ,roll no =  22ME8145  ,cgpa =  8.25  ,adderess =  IEUWHUI  ,contect no. =  878525
None
[8.56, 8.25, 7.98, 7.59]
cgpa mean of all student is 8.095 and std deviation is 0.35654592972014154

In [ ]:
name=input('enter name= ')
print(name[5])

enter name= 012459876
9