<a href="https://colab.research.google.com/github/joydebmahata/COLLAGE_ASGN/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import matplotlib.pyplot as mpl
import seaborn as sbo
import pandas as pd
import numpy as np
list1=np.random.randint(1,10,[3,5])
print('list1 :',list1,'\n')
arr=np.array(list1)
head=['std no.','gst (%)','groth','loss','final']
#name=zip(list5,arr)
name=['a','b','c']
b=pd.DataFrame(arr,columns=head)
print(b)

list1 : [[5 1 9 7 9]
 [6 6 8 4 9]
 [7 2 8 4 7]]

   std no.  gst (%)  groth  loss  final
0        5        1      9     7      9
1        6        6      8     4      9
2        7        2      8     4      7

In [2]:
import keyword as ky
print(ky.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
import pandas as pd
import random
import numpy as np
list1=[]
list3=[]
for x in range(12):
  list2=random.randint(1,10)
  list3.append(list2*2)
  list1.append(list2)
print(list1,list3,zip(list1,list3))
arr=np.arange(12).reshape(4,3)
head=['std no.','gst (%)','groth']
name=zip(head,arr)
print("\n",name)
na=['a','b','c']
b=pd.DataFrame(arr,index=['a','b','c','d'],columns = head )
print(b)

[4, 9, 8, 2, 2, 3, 10, 6, 6, 1, 3, 8] [8, 18, 16, 4, 4, 6, 20, 12, 12, 2, 6, 16] <zip object at 0x7e41fc27e600>

 <zip object at 0x7e41fc27e180>
   std no.  gst (%)  groth
a        0        1      2
b        3        4      5
c        6        7      8
d        9       10     11

In [4]:
a=[]

for x in range(4):
    a.append(input(f'enter your data {x+1}: '))
print(a)
#frthghjb=a.astype()
print(type(a),len(a))

enter your data 1: 45
enter your data 2: 85
enter your data 3: 67
enter your data 4: 59
['45', '85', '67', '59']
<class 'list'> 4

In [5]:
x = [str(x) for x in input("Enter multiple value: ").split(",")]
print("Number of list is: ", x)

Enter multiple value: bjdbjnsnkj ngdjh dng nn
Number of list is:  ['bjdbjnsnkj ngdjh dng nn']

In [6]:
my_dict = {"apple": "a fruit", "banana": "another fruit"}
print(my_dict)

{'apple': 'a fruit', 'banana': 'another fruit'}

In [9]:
a=8
b=9
def f(a,b):
  if (a<b):
    return True
  else :
    return False
c=f(a,b)
print(c)

True